.container{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.form {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  padding: 10px;
  background-color: #75a4b1;
  
}
input {
  width: 60%;
  margin-bottom: 10px;
  margin-top: 5px;
}
label {
  margin-top: 10px;
}
.button-style{
  padding: 10px;
  width: 95%;
  margin: 10px;
  background-color: #27819b;
  color: white;
  border-radius: 5px;
  border: none;
}
.button-style:hover{
  background-color: aliceblue;
  color: #75a4b1;
}


