.containerMovie{
  background-color: #75a4b1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
 
}
.home{
  background-color: rgb(202, 199, 199);
  width: 50%;
  height: 70%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 1em silver;
  border: 1px solid white;
}
li{
  display: flex;
  justify-content: space-between;
}
.title{
  text-align: center;
  height: 10%;
  width: 80%;
  background-color: lightskyblue;
  color: gray;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 30px;
  border: 1px solid black;
}
.user{
  text-align: center;
  color: gray;
  background-color: lightgreen;
  height: 10%;
  width: 20%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
.user-title{
  display: flex;
  justify-content: space-between;
}
.space{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}



